name: Publish to pub.dev

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  publish:
    permissions:
      id-token: write
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@21e68f4d54916e6c2f68f8c290b2aed9b02cbd3e
