name: Flutter SDK Unit Tests
permissions:
  contents: read

# Leverages the Flutter GH Action at https://github.com/marketplace/actions/flutter-action

on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v5
      - name: Install and set Flutter version
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: "3.x"
          channel: "stable"
      - name: Install Flutter packages
        run: flutter pub get
      - name: Analyze
        run: flutter analyze
      - name: Run Unit Tests
        run: flutter test
      - name: Run Publish Dry Run
        run: flutter pub publish --dry-run
